<div class="main-submission-center">
  <div class="inner-page-setup">
    <!-- <div class="user-action-menu mb-2">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="italic">Students</mat-button-toggle>
        <mat-button-toggle value="underline">Add new submissions</mat-button-toggle>
        <mat-button-toggle value="italic">Submissions</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
    <div class="main-submission-table">
      <h2>Assigned Students to You</h2>

    </div>
    <div class="main-submission-table">
      <h2>Submission Details</h2>

    </div>
  </div>
</div>