<div class="main-submission-center">
  <div class="inner-page-setup">
    <div class="user-action-menu mb-2">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Profile</mat-button-toggle>
        <mat-button-toggle value="italic">Students</mat-button-toggle>
        <mat-button-toggle value="underline">Add new submissions</mat-button-toggle>
        <mat-button-toggle value="italic">Submissions</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="main-submission-table">
      <h2>Assigned Students to You</h2>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#StudentId</th>
            <th scope="col">Student Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
          <tr>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
            <td scope="col">Ipsum</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="main-submission-table">
      <h2>Submission Details</h2>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#SubmissionId</th>
            <th scope="col">SubmissionDate</th>
            <th scope="col">Vendor Company</th>
            <th scope="col">Email Id</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Implementation</th>
            <th scope="col">Client Name</th>
            <th scope="col">Pay Rate</th>
            <th scope="col">Submitted</th>
            <th scope="col">Type(Own/Recruiter)</th>
            <th scope="col">Status</th>
            <th scope="col">Lead Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>

          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
          <tr>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
            <td scope="col">Lorem</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>