<div class="main-submission-center">
  <div class="inner-page-setup">
    <div class="user-action-menu mb-2">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="italic" [routerLink]="['submitioncenter']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}">Manage Submissions</mat-button-toggle>
        <mat-button-toggle value="underline" [routerLink]="['addsubmissions']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}">Add new submissions</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>