<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="Profile" [routerLink]="['student']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact: true}">Student</mat-button-toggle>
  <mat-button-toggle value="Add Users" [routerLink]="['lead']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact: true}">Lead</mat-button-toggle>
  <mat-button-toggle value="Manage Users" [routerLink]="['recruiter']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact: true}">Recruiter</mat-button-toggle>
  <mat-button-toggle value="Manage Users" [routerLink]="['vendor']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact: true}">Vendor</mat-button-toggle>
</mat-button-toggle-group>
<router-outlet></router-outlet>